@font-face {
    font-family: rubiksSpray;
    src: url(assets/fonts/RubikSprayPaint-Regular.ttf);
}
@font-face {
    font-family: knewave-family;
    src: url(assets/fonts/Knewave-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(    
      135deg,
    #ff758c,
    #ff7eb3
    );
    min-height: 100vh;
    color: white;
    font-family: knewave-family;
    font-weight: 100;
    padding: 30px 100px;
}

h1 {
    font-size: 70px;
    font-weight: 700;

    background: linear-gradient(
        90deg,
        rgb(255,0,0),
        rgb(255,255,0),
        rgb(0,255,0),
        rgb(0,255,255),
        rgb(0,0,255),
        rgb(255,0,255),
        rgb(255,0,0)
    );

    background-size: 300% 300%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradientMove 10s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.section-1{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.section-2 button{
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 700;
}
.section-2 button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: all ease-in-out 0.3s;
    opacity: 70%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#inputBox {
    display: none;
    justify-content: center;
    flex-direction: column;
    animation: fadeIn 0.5s ease;
    gap: 5px;
}
#inputBox input{
    background-color: rgb(237, 236, 236);
    width: 300px;
    padding: 10px 5px;
    border-radius: 5px;
    gap: 20px;
    color: black;
}
#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: fadeIn 0.5s ease;
    border: 1px solid white;
    padding: 50px 30px;
    border-radius: 15px;
    background-color: rgba( 255, 255, 255, 0.5);
    box-shadow: 1px 1px 15px black;
}

#card .img{
    background: url(assets/imgs/dudu-and-bubu-eating-dudu-and-bubu-cake.gif);
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    transition: all ease-in 0.3s;
    height: 300px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
#card .img:hover{
    box-shadow: 5px 5px 20px black;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1; transform: scale(1); }
}

.card-paras h2{
    text-shadow: 1px 1px 14px pink;
    font-size: 35px;
    background: linear-gradient(45deg , purple , rgb(255, 120, 142) );
    padding: 5px;
    border-radius: 4px;
    font-weight: 100;
}
.card-paras p{
    text-align: center;
    font-size: 25px;
    color: black;
    text-shadow: 1px 1px 10px yellow;
}

.parent-con{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
